#topmenu {
    background-color: black;
    display: inline-block;
}

.menuitem {
    color: white;
    display: inline-block;
    width: 100px;
    height: 25px;
    top: 50%;
    align-items: center;
}

a:hover {
    color: red;
    background-color: green;
}

.menuitem:hover {
    background-color: green;
}