body {
    background-color: #2D51C8;
    color: #00BD9D;
    width: 70%;
}

h1 {
    color: white;
    background-color: #B6244F;
}

h2 {
    color: #ADA9B7;

}

h3 {
    color: #ADA9B7;
}

hr {
    color: white;
}

a {
    color: #54DEFD;
}
