body {
    background-color: #6457A6;
    color: #00BD9D;
    width: 70%;
    text-align: center;
}

h1 {
    color: #00BD9D;
}

h2 {
    color: #ADA9B7
}

h3 {
    color: #ADA9B7
}

hr {
    color: #ADA9B7;
}

a {
    color: #54DEFD;
}