html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #011638;
}

body {
    margin: 0px;
}

h1 {
    color: white;
    background-color: #B6244F;
}

h2 {
    color: #B6244F;
}

h3 {
    color: #B6244F;
}

a:hover {
    color: white;
}

em {
    color: #B6244F;
    font-style: italic;
    font-weight: bold;
}

#topmenu {
    color: #54DEFD;
    background-color: #011638;
    padding: 10px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

#topmenu a {
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

#topmenu a:hover {
    background-color: #54DEFD;
}

#topcontainer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #011638;
    margin-bottom: 10;
    height: 1000px;
    position: relative;
    top: 35px;
}

.topbanner {
    margin: 0;
}

.titlerow {
    margin: 30px;
    color: #54DEFD;
    line-height: 3;
}

#topcontainerskillrow {
    background-color: white;
    position: relative;
    height: 275px;
}

.skillazure {
    display: inline-block;
    height: 200px;
    vertical-align: top;
    font-family: 'Share Tech Mono', monospace;
}

.skillaws {
    display: inline-block;
    height: 200px;
    vertical-align: top;
    font-family: 'Share Tech Mono', monospace;
}

.skilltf {
    display: inline-block;
    height: 200px;
    vertical-align: top;
    font-family: 'Share Tech Mono', monospace;
}

.skillans {
    display: inline-block;
    height: 200px;
    vertical-align: top;
    font-family: 'Share Tech Mono', monospace;
}

#middlecontainertitle {
    position: relative;
    top: 17.5px;
    padding: 0;
    margin: 0;

}

#middlecontainer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 35px 200px 0 200px;
    background-color: #54DEFD;
    color: #011638;
    position: relative;
}

#bottomcontainer {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
    top: -17.5px;
    padding: 10px;
    margin: 0px;
    background-color: #011638;
    color: white;
}

#codetxt {
    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    padding: 1%;
}

#left {
    width: 40%;
    background-color: yellow;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;

}

#right {
    width: 40%;
    background-color: red;
    display: inline-block;
}

.boxes {
    background-color: blue;
    width: 200px;
    height: 200px;
    border: solid 10px;
    padding: 10px;
    margin: 10px;
}

#bottombox {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
}

#middlebox {
    background-color: green;
    width: 150px;
    margin: 10px;
    position: relative;
    top: 10px;
}

.code {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
}

.color-red {
    color: #B6244F;
}

.color-lightblue {
    color: #54DEFD;
}

.signature {
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
}

